<a href="https://colab.research.google.com/github/tombresee/Prairie-Fire/blob/master/ApacheSpark_on_Colab_Joern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Environment on Colab:

### Author:  Tom Bresee

<br>

In [0]:
#  Step 1:           !apt-get install openjdk-8-jdk-headless -qq > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!ls -l
# at this point you should only see sample_data main folder...

total 4
drwxr-xr-x 1 root root 4096 May 13 16:29 sample_data

In [0]:
#  !rm spark-2.4.5-bin-hadoop2.7.tgz.1
#  IF you need to remove anything, use this level of command...

In [0]:
#   Step 2:    !wget -q  https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!wget -q  https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz

In [0]:
#   Step 3:    !tar xf spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz

In [0]:
#   Step 4:    !pip install -q findspark
!pip install -q findspark

In [7]:
!ls -l

total 227092
drwxr-xr-x  1 root root      4096 May 13 16:29 sample_data
drwxr-xr-x 13 1000 1000      4096 Feb  2 19:47 spark-2.4.5-bin-hadoop2.7
-rw-r--r--  1 root root 232530699 Feb  2 20:27 spark-2.4.5-bin-hadoop2.7.tgz

In [8]:
#   Step 5:  !pip install pyspark
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 60kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 35.0MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=68d65a92663c74c570602f1dccea526129937db3e42374d0f0d4464f74a10e1f
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [0]:
#  HERE IS WHAT IT LOOKED LIKE:

# Collecting pyspark
#   Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
#      |████████████████████████████████| 215.7MB 64kB/s 
# Collecting py4j==0.10.7
#   Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
#      |████████████████████████████████| 204kB 57.1MB/s 
# Building wheels for collected packages: pyspark
#   Building wheel for pyspark (setup.py) ... done
#   Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130387 sha256=cac013fd0c315531dfcfaede5945772591909a51429227903d1b41ff7fd9f600
#   Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
# Successfully built pyspark
# Installing collected packages: py4j, pyspark
# Successfully installed py4j-0.10.7 pyspark-2.4.4

In [0]:
#   Step 6:   Create the sparkconnection sc: 
#  you need to import the right libraries first below...     and then do this...  sc = spark.SparkCon

# Colab Specs:

In [11]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   33G   70G  32% /
tmpfs            64M     0   64M   0% /dev
tmpfs           6.4G     0  6.4G   0% /sys/fs/cgroup
shm             5.9G     0  5.9G   0% /dev/shm
tmpfs           6.4G   12K  6.4G   1% /var/colab
/dev/sda1       114G   35G   80G  30% /etc/hosts
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware

In [12]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2300.000
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs itlb_multihit
bogomips	: 4600.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2300.000
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs itlb_multihit
bogomips	: 4600.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [13]:
!cat /proc/meminfo

MemTotal:       13333540 kB
MemFree:         6673192 kB
MemAvailable:   12446184 kB
Buffers:           80292 kB
Cached:          5728364 kB
SwapCached:            0 kB
Active:           993828 kB
Inactive:        5273156 kB
Active(anon):     416468 kB
Inactive(anon):      308 kB
Active(file):     577360 kB
Inactive(file):  5272848 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:              1432 kB
Writeback:             0 kB
AnonPages:        458308 kB
Mapped:           222640 kB
Shmem:               904 kB
Slab:             285864 kB
SReclaimable:     248024 kB
SUnreclaim:        37840 kB
KernelStack:        3524 kB
PageTables:         5292 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6666768 kB
Committed_AS:    2511652 kB
VmallocTotal:   34359738367 kB
VmallocUsed:           0 kB
VmallocChunk:          0 kB
Percpu:              920 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       74940 kB
DirectMap2M:     6215680 kB
DirectMap1G:     9437184 kB

In [0]:
from psutil import *

In [15]:
cpu_count()

2

In [16]:
cpu_stats()

scpustats(ctx_switches=618372, interrupts=443068, soft_interrupts=338087, syscalls=0)

In [17]:
cpu_count()

2

In [18]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2300.000
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs itlb_multihit
bogomips	: 4600.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2300.000
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs itlb_multihit
bogomips	: 4600.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [19]:
virtual_memory()

svmem(total=13653544960, available=12744785920, percent=6.7, used=618561536, free=6832943104, active=1019621376, inactive=5399891968, buffers=82219008, cached=6119821312, shared=925696, slab=292368384)

In [20]:
#GPU count and name
!nvidia-smi -L

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [21]:
!lscpu |grep 'Model name'

Model name:          Intel(R) Xeon(R) CPU @ 2.30GHz

In [22]:
#no.of sockets i.e available slots for physical processors
!lscpu | grep 'Socket(s):'

Socket(s):           1

In [23]:
#no.of cores each processor is having 
!lscpu | grep 'Core(s) per socket:'

Core(s) per socket:  1

In [24]:
#no.of threads each core is having
!lscpu | grep 'Thread(s) per core'

Thread(s) per core:  2

In [25]:
#memory that we can use
!cat /proc/meminfo | grep 'MemAvailable'

MemAvailable:   12448784 kB

In [26]:
#hard disk that we can use
!df -h / | awk '{print $4}'

Avail
70G

# Start Here - Creating Session  (including the steps A - E for initialization):

In [0]:
#  Step A: 

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [130]:
#  Step B: 

# Point Colaboratory to your Google Drive  (maybe not need?)

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# STOP AND READ:  YOU WILL NEED TO ENTER YOUR KEY ABOVE.  THEN YOU WILL NEED TO GO UP TO THE TOP TAB, CLICK 'RUNTIME', AND THEN CLICK 'Run After' BECAUSE THE CODE KEPT TRYING TO EXECUTE, but since your key wasn't entered at that point, the below cells will exhibit issues.  Its expected.  


Second way:  or you can enter your key, make sure it works, and **then** go to the top and click 'Runtime' and then 'Run All', and it should all work.  I like the second way, its easier...

In [0]:
# Download datasets directly to your Google Drive "Colab Datasets" folder

# import requests

# # 2007 data

# file_url = "http://stat-computing.org/dataexpo/2009/2007.csv.bz2"

# r = requests.get(file_url, stream = True) 

# with open("/content/gdrive/My Drive/Colab Datasets/2007.csv.bz2", "wb") as file: 
# 	for block in r.iter_content(chunk_size = 1024): 
# 		if block: 
# 			file.write(block)

# # 2008 data

# file_url = "http://stat-computing.org/dataexpo/2009/2008.csv.bz2"

# r = requests.get(file_url, stream = True) 

# with open("/content/gdrive/My Drive/Colab Datasets/2008.csv.bz2", "wb") as file: 
# 	for block in r.iter_content(chunk_size = 1024): 
# 		if block: 
# 			file.write(block)

In [0]:
#  Step C: 

# YOUR CORE LIBRARIES ! ! ! ! ! ! 

# Tools we need to connect to the Spark server, load our data,
# clean it and prepare it
# start here: 

# big boys: 

from pyspark import SparkContext         # this is sc  

from pyspark.sql import SparkSession     # this is 'spark' entity 

from pyspark.sql.functions import *      # need this ? 

# boys: 
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
# funcs: 
from pyspark.sql.functions import isnan, when, count, col

In [0]:
# Step D:  Breathe

In [0]:

#  Step E:

# initiating spark on colab...

# although if you had clusters you could create it in another manner...
SPARK_URL = "local[*]"
APP_NAME = 'Spark_App_Oscar_Mike'


spark = SparkSession.builder.appName(APP_NAME).master(SPARK_URL).getOrCreate()

# could have added:     .config("spark.some.config.option", "some-value")


# review:  
#   - 
#  normally you create according to apache spark examples github home like this: 
#
#   spark = SparkSession\
#          .builder\
#          .appName("PythonPi")\
#          .getOrCreate()
#
#

In [0]:
# holder:  spark = SparkSession.builder.appName(APP_NAME).master(SPARK_URL).getOrCreate()

In [136]:
#  Step F:  Confirming SparkSession (spark) is physically up...

spark

In [137]:

#  Step G:   Creating the sc session...

sc = spark.sparkContext

#  Confirming SparkContext sc: 
sc

In [138]:
print(os.environ)

environ({'ENV': '/root/.bashrc', 'GCS_READ_CACHE_BLOCK_SIZE_MB': '16', 'CLOUDSDK_CONFIG': '/content/.config', 'CUDA_VERSION': '10.1.243', 'PATH': '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin', 'HOME': '/root', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64', 'LANG': 'en_US.UTF-8', 'SHELL': '/bin/bash', 'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs', 'CUDA_PKG_VERSION': '10-1=10.1.243-1', 'SHLVL': '1', 'GCE_METADATA_TIMEOUT': '0', 'NCCL_VERSION': '2.4.8', 'NVIDIA_VISIBLE_DEVICES': 'all', 'TF_FORCE_GPU_ALLOW_GROWTH': 'true', 'DEBIAN_FRONTEND': 'noninteractive', 'CUDNN_VERSION': '7.6.5.32', 'LAST_FORCED_REBUILD': '20200512', 'JPY_PARENT_PID': '18', 'PYTHONPATH': '/env/python', 'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=\\"172.28.0.2\\""]}', 'NO_GCE_CHECK': 'True', 'GLIBCXX_FORCE_NEW': '1', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', '_': '/tools/node/bin/node', 'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4', 'NVIDIA_REQUIRE_CUDA': 'cuda>=10.1 brand=tesla,driver>=384,driver<385 brand=tesla,driver>=396,driver<397 brand=tesla,driver>=410,driver<411', 'OLDPWD': '/', 'HOSTNAME': '886d19d85e52', 'COLAB_GPU': '0', 'PWD': '/', 'GLIBCPP_FORCE_NEW': '1', 'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command', 'TBE_CREDS_ADDR': '172.28.0.1:8008', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'JAVA_HOME': '/usr/lib/jvm/java-8-openjdk-amd64', 'SPARK_HOME': '/content/spark-2.4.5-bin-hadoop2.7'})

In [139]:
!ls -l

total 229812
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv
drwx------  4 root root      4096 May 20 14:57 gdrive
-rw-r--r--  1 root root        73 May 20 14:58 people.json
drwxr-xr-x  1 root root      4096 May 13 16:29 sample_data
drwxr-xr-x 13 1000 1000      4096 Feb  2 19:47 spark-2.4.5-bin-hadoop2.7
-rw-r--r--  1 root root 232530699 Feb  2 20:27 spark-2.4.5-bin-hadoop2.7.tgz
drwxr-xr-x  2 root root      4096 May 20 14:58 spark-warehouse

In [140]:
!pwd

/content

In [141]:
#  Step F:  How to download dataset data onto your drive/console

!wget https://github.com/tidyverse/ggplot2/raw/master/data-raw/diamonds.csv

--2020-05-20 14:58:54--  https://github.com/tidyverse/ggplot2/raw/master/data-raw/diamonds.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv [following]
--2020-05-20 14:58:54--  https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2772143 (2.6M) [text/plain]
Saving to: ‘diamonds.csv.1’

diamonds.csv.1      100%[===================>]   2.64M  --.-KB/s    in 0.09s

2020-05-20 14:58:55 (29.1 MB/s) - ‘diamonds.csv.1’ saved [2772143/2772143]

In [142]:
!ls -l

# do you see diamonds ?  :)

total 232520
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv.1
drwx------  4 root root      4096 May 20 14:57 gdrive
-rw-r--r--  1 root root        73 May 20 14:58 people.json
drwxr-xr-x  1 root root      4096 May 13 16:29 sample_data
drwxr-xr-x 13 1000 1000      4096 Feb  2 19:47 spark-2.4.5-bin-hadoop2.7
-rw-r--r--  1 root root 232530699 Feb  2 20:27 spark-2.4.5-bin-hadoop2.7.tgz
drwxr-xr-x  2 root root      4096 May 20 14:58 spark-warehouse

In [0]:
import requests

In [0]:
#  you can also do it like this as well for file download:

#    file_url = "https://github.com/tidyverse/ggplot2/raw/master/data-raw/diamonds.csv" 

#    r = requests.get(file_url, stream = True)

In [145]:
!ls -l

total 232520
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv.1
drwx------  4 root root      4096 May 20 14:57 gdrive
-rw-r--r--  1 root root        73 May 20 14:58 people.json
drwxr-xr-x  1 root root      4096 May 13 16:29 sample_data
drwxr-xr-x 13 1000 1000      4096 Feb  2 19:47 spark-2.4.5-bin-hadoop2.7
-rw-r--r--  1 root root 232530699 Feb  2 20:27 spark-2.4.5-bin-hadoop2.7.tgz
drwxr-xr-x  2 root root      4096 May 20 14:58 spark-warehouse

In [146]:
!ls -l diamonds.csv

-rw-r--r-- 1 root root 2772143 May 20 14:58 diamonds.csv

Creating a true spark dataframe

In [0]:
CSV_FILE = "/content/diamonds.csv"

df_pri = spark.read.options(header="true", inferschema = "true").csv(CSV_FILE)


# IF YOU HAD RAW DATA YOU WANT TO INPUT:
# df = spark.createDataFrame(data = [('Bob', 5.62,'juice'),  ('Sue',0.85,'milk')], 
#                            schema = ["Name", "Amount","Item"])

In [0]:
# data = sqlContext.createDataFrame([("Alberto", 2), ("Dakota", 2)], 
#                                   ["Name", "askdaosdka"])
# data.show()
# data.printSchema()

# # Output
# #+-------+----------+
# #|   Name|askdaosdka|
# #+-------+----------+
# #|Alberto|         2|
# #| Dakota|         2|
# #+-------+----------+

# #root
# # |-- Name: string (nullable = true)
# # |-- askdaosdka: long (nullable = true)

# df = data.selectExpr("Name as name", "askdaosdka as age")
# df.show()
# df.printSchema()

# # Output
# #+-------+---+
# #|   name|age|
# #+-------+---+
# #|Alberto|  2|
# #| Dakota|  2|
# #+-------+---+

# #root
# # |-- name: string (nullable = true)
# # |-- age: long (nullable = true)

In [149]:
df_pri

DataFrame[carat: double, cut: string, color: string, clarity: string, depth: double, table: double, price: int, x: double, y: double, z: double]

In [150]:
display(df_pri)

DataFrame[carat: double, cut: string, color: string, clarity: string, depth: double, table: double, price: int, x: double, y: double, z: double]

In [151]:
df_pri.show()

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
| 0.26|Very Good|    H|    SI1| 61.9| 55.0|  337|4.07|4.11|2.53|
| 0.22|     Fair|    E|    VS2| 65.1| 61.0|  337|3.87|3.78|2.49|
| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
|  0.3|     Good|    J|    SI1| 64.0| 55.0|  339|4.25|4.28|2.73|
| 0.23|    Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 0.22|  Premium|    F|    SI1| 60.4| 61.0|  342|3.88|3.84|2.33|
| 0.31|    Ideal|    J|    SI2| 62.2| 54.0|  344|4.35|4.37|2.71|
|  0.2|  Premium|    E|    SI2| 60.2| 62.0|  345|3.79|3.75|2.27|
| 0.32|  Premium|    E|     I1| 60.9| 58.0|  345|4.38|4.42|2.68|
|  0.3|    Ideal|    I|    SI2| 62.0| 54.0|  348|4.31|4.34|2.68|
|  0.3|     Good|    J|    SI1| 63.4| 54.0|  351|4.23|4.29| 2.7|
|  0.3|     Good|    J|    SI1| 63.8| 56.0|  351|4.23|4.26|2.71|
|  0.3|Very Good|    J|    SI1| 62.7| 59.0|  351|4.21|4.27|2.66|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [152]:
df_pri.count()

53940

In [153]:
df_pri.dtypes

[('carat', 'double'),
 ('cut', 'string'),
 ('color', 'string'),
 ('clarity', 'string'),
 ('depth', 'double'),
 ('table', 'double'),
 ('price', 'int'),
 ('x', 'double'),
 ('y', 'double'),
 ('z', 'double')]

In [154]:
for method in list(dir(df_pri)): print(method)

__class__
__delattr__
__dict__
__dir__
__doc__
__eq__
__format__
__ge__
__getattr__
__getattribute__
__getitem__
__gt__
__hash__
__init__
__init_subclass__
__le__
__lt__
__module__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__setattr__
__sizeof__
__str__
__subclasshook__
__weakref__
_collectAsArrow
_jcols
_jdf
_jmap
_jseq
_lazy_rdd
_repr_html_
_sc
_schema
_sort_cols
_support_repr_html
agg
alias
approxQuantile
cache
checkpoint
coalesce
colRegex
collect
columns
corr
count
cov
createGlobalTempView
createOrReplaceGlobalTempView
createOrReplaceTempView
createTempView
crossJoin
crosstab
cube
describe
distinct
drop
dropDuplicates
drop_duplicates
dropna
dtypes
exceptAll
explain
fillna
filter
first
foreach
foreachPartition
freqItems
groupBy
groupby
head
hint
intersect
intersectAll
isLocal
isStreaming
is_cached
join
limit
localCheckpoint
na
orderBy
persist
printSchema
randomSplit
rdd
registerTempTable
repartition
repartitionByRange
replace
rollup
sample
sampleBy
schema
select
selectExpr
show
sort
sortWithinPartitions
sql_ctx
stat
storageLevel
subtract
summary
take
toDF
toJSON
toLocalIterator
toPandas
union
unionAll
unionByName
unpersist
where
withColumn
withColumnRenamed
withWatermark
write
writeStream

In [155]:
"""
agg
alias
approxQuantile
cache
checkpoint
coalesce
colRegex
collect
columns
corr
count
cov
createGlobalTempView
createOrReplaceGlobalTempView
createOrReplaceTempView
createTempView
crossJoin
crosstab
cube
describe
distinct
drop
dropDuplicates
drop_duplicates
dropna
dtypes
exceptAll
explain
fillna
filter
first
foreach
foreachPartition
freqItems
groupBy
groupby
head
hint
intersect
intersectAll
isLocal
isStreaming
is_cached
join
limit
localCheckpoint
na
orderBy
persist
printSchema
randomSplit
rdd
registerTempTable
repartition
repartitionByRange
replace
rollup
sample
sampleBy
schema
select
selectExpr
show
sort
sortWithinPartitions
sql_ctx
stat
storageLevel
subtract
summary
take
toDF
toJSON
toLocalIterator
toPandas
union
unionAll
unionByName
unpersist
where
withColumn
withColumnRenamed
withWatermark
write
writeStream
"""

'\nagg\nalias\napproxQuantile\ncache\ncheckpoint\ncoalesce\ncolRegex\ncollect\ncolumns\ncorr\ncount\ncov\ncreateGlobalTempView\ncreateOrReplaceGlobalTempView\ncreateOrReplaceTempView\ncreateTempView\ncrossJoin\ncrosstab\ncube\ndescribe\ndistinct\ndrop\ndropDuplicates\ndrop_duplicates\ndropna\ndtypes\nexceptAll\nexplain\nfillna\nfilter\nfirst\nforeach\nforeachPartition\nfreqItems\ngroupBy\ngroupby\nhead\nhint\nintersect\nintersectAll\nisLocal\nisStreaming\nis_cached\njoin\nlimit\nlocalCheckpoint\nna\norderBy\npersist\nprintSchema\nrandomSplit\nrdd\nregisterTempTable\nrepartition\nrepartitionByRange\nreplace\nrollup\nsample\nsampleBy\nschema\nselect\nselectExpr\nshow\nsort\nsortWithinPartitions\nsql_ctx\nstat\nstorageLevel\nsubtract\nsummary\ntake\ntoDF\ntoJSON\ntoLocalIterator\ntoPandas\nunion\nunionAll\nunionByName\nunpersist\nwhere\nwithColumn\nwithColumnRenamed\nwithWatermark\nwrite\nwriteStream\n'

# Examining Diamonds DataFrame:

In [0]:
df = df_pri

In [157]:
help(df.alias)

Help on method alias in module pyspark.sql.dataframe:

alias(alias) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` with an alias set.

    :param alias: string, an alias name to be set for the :class:`DataFrame`.

    >>> from pyspark.sql.functions import *
    >>> df_as1 = df.alias("df_as1")
    >>> df_as2 = df.alias("df_as2")
    >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
    >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
    [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]

    .. versionadded:: 1.3

In [158]:
df.printSchema()

root
 |-- carat: double (nullable = true)
 |-- cut: string (nullable = true)
 |-- color: string (nullable = true)
 |-- clarity: string (nullable = true)
 |-- depth: double (nullable = true)
 |-- table: double (nullable = true)
 |-- price: integer (nullable = true)
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)
 |-- z: double (nullable = true)

In [159]:
df.schema.names

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']

In [160]:
df.columns

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']

In [161]:
df.cache()

# Spark SQL can cache tables using an in-memory columnar format by calling spark.catalog.cacheTable("tableName") 
# or dataFrame.cache(). Then Spark SQL will scan only required columns and will automatically tune compression 
# to minimize memory usage and GC pressure.

DataFrame[carat: double, cut: string, color: string, clarity: string, depth: double, table: double, price: int, x: double, y: double, z: double]

In [162]:
!ls -l

total 232520
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv.1
drwx------  4 root root      4096 May 20 14:57 gdrive
-rw-r--r--  1 root root        73 May 20 14:58 people.json
drwxr-xr-x  1 root root      4096 May 13 16:29 sample_data
drwxr-xr-x 13 1000 1000      4096 Feb  2 19:47 spark-2.4.5-bin-hadoop2.7
-rw-r--r--  1 root root 232530699 Feb  2 20:27 spark-2.4.5-bin-hadoop2.7.tgz
drwxr-xr-x  2 root root      4096 May 20 14:58 spark-warehouse

In [163]:
!wget https://github.com/apache/spark/raw/master/examples/src/main/resources/people.json
#!wget https://github.com/tidyverse/ggplot2/raw/master/data-raw/diamonds.csv

--2020-05-20 14:59:01--  https://github.com/apache/spark/raw/master/examples/src/main/resources/people.json
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/apache/spark/master/examples/src/main/resources/people.json [following]
--2020-05-20 14:59:01--  https://raw.githubusercontent.com/apache/spark/master/examples/src/main/resources/people.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73 [text/plain]
Saving to: ‘people.json.1’

people.json.1       100%[===================>]      73  --.-KB/s    in 0s

2020-05-20 14:59:01 (9.76 MB/s) - ‘people.json.1’ saved [73/73]

In [164]:
!ls -l

total 232524
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv
-rw-r--r--  1 root root   2772143 May 20 14:58 diamonds.csv.1
drwx------  4 root root      4096 May 20 14:57 gdrive
-rw-r--r--  1 root root        73 May 20 14:58 people.json
-rw-r--r--  1 root root        73 May 20 14:59 people.json.1
drwxr-xr-x  1 root root      4096 May 13 16:29 sample_data
drwxr-xr-x 13 1000 1000      4096 Feb  2 19:47 spark-2.4.5-bin-hadoop2.7
-rw-r--r--  1 root root 232530699 Feb  2 20:27 spark-2.4.5-bin-hadoop2.7.tgz
drwxr-xr-x  2 root root      4096 May 20 14:58 spark-warehouse

In [0]:
# creating df from json file...
peopleDF = spark.read.json('people.json')

In [166]:
peopleDF.show()

# The inferred schema can be visualized using the printSchema() method
peopleDF.printSchema()
# root
#  |-- age: long (nullable = true)
#  |-- name: string (nullable = true)

# Creates a temporary view using the DataFrame
peopleDF.createOrReplaceTempView("people")

# SQL statements can be run by using the sql methods provided by spark
teenagerNamesDF = spark.sql("SELECT name FROM people WHERE age BETWEEN 13 AND 19")
teenagerNamesDF.show()
# +------+
# |  name|
# +------+
# |Justin|
# +------+

# Alternatively, a DataFrame can be created for a JSON dataset represented by
# an RDD[String] storing one JSON object per string
jsonStrings = ['{"name":"Yin","address":{"city":"Columbus","state":"Ohio"}}']
otherPeopleRDD = sc.parallelize(jsonStrings)
otherPeople = spark.read.json(otherPeopleRDD)
otherPeople.show()
# +---------------+----+
# |        address|name|
# +---------------+----+
# |[Columbus,Ohio]| Yin|
# +---------------+----+

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+------+
|  name|
+------+
|Justin|
+------+

+----------------+----+
|         address|name|
+----------------+----+
|[Columbus, Ohio]| Yin|
+----------------+----+

# Diamonds Exclusively Examining:

In [0]:
df2 = df_pri

In [168]:
df2

DataFrame[carat: double, cut: string, color: string, clarity: string, depth: double, table: double, price: int, x: double, y: double, z: double]

In [0]:
df2.createOrReplaceTempView("diamonds_table")

In [0]:
sqlDF = spark.sql("SELECT * FROM diamonds_table")

In [171]:
sqlDF.show()

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
| 0.26|Very Good|    H|    SI1| 61.9| 55.0|  337|4.07|4.11|2.53|
| 0.22|     Fair|    E|    VS2| 65.1| 61.0|  337|3.87|3.78|2.49|
| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
|  0.3|     Good|    J|    SI1| 64.0| 55.0|  339|4.25|4.28|2.73|
| 0.23|    Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 0.22|  Premium|    F|    SI1| 60.4| 61.0|  342|3.88|3.84|2.33|
| 0.31|    Ideal|    J|    SI2| 62.2| 54.0|  344|4.35|4.37|2.71|
|  0.2|  Premium|    E|    SI2| 60.2| 62.0|  345|3.79|3.75|2.27|
| 0.32|  Premium|    E|     I1| 60.9| 58.0|  345|4.38|4.42|2.68|
|  0.3|    Ideal|    I|    SI2| 62.0| 54.0|  348|4.31|4.34|2.68|
|  0.3|     Good|    J|    SI1| 63.4| 54.0|  351|4.23|4.29| 2.7|
|  0.3|     Good|    J|    SI1| 63.8| 56.0|  351|4.23|4.26|2.71|
|  0.3|Very Good|    J|    SI1| 62.7| 59.0|  351|4.21|4.27|2.66|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [172]:
df.dtypes

[('carat', 'double'),
 ('cut', 'string'),
 ('color', 'string'),
 ('clarity', 'string'),
 ('depth', 'double'),
 ('table', 'double'),
 ('price', 'int'),
 ('x', 'double'),
 ('y', 'double'),
 ('z', 'double')]

In [173]:
df.schema.fields

[StructField(carat,DoubleType,true),
 StructField(cut,StringType,true),
 StructField(color,StringType,true),
 StructField(clarity,StringType,true),
 StructField(depth,DoubleType,true),
 StructField(table,DoubleType,true),
 StructField(price,IntegerType,true),
 StructField(x,DoubleType,true),
 StructField(y,DoubleType,true),
 StructField(z,DoubleType,true)]

In [174]:
df2.describe().show()

+-------+------------------+---------+-----+-------+------------------+------------------+-----------------+------------------+------------------+------------------+
|summary|             carat|      cut|color|clarity|             depth|             table|            price|                 x|                 y|                 z|
+-------+------------------+---------+-----+-------+------------------+------------------+-----------------+------------------+------------------+------------------+
|  count|             53940|    53940|53940|  53940|             53940|             53940|            53940|             53940|             53940|             53940|
|   mean|0.7979397478679852|     null| null|   null| 61.74940489432624| 57.45718390804603|3932.799721913237| 5.731157211716609| 5.734525954764462|3.5387337782723316|
| stddev|0.4740112444054196|     null| null|   null|1.4326213188336525|2.2344905628213247|3989.439738146397|1.1217607467924915|1.1421346741235616|0.7056988469499883|
|    min|               0.2|     Fair|    D|     I1|              43.0|              43.0|              326|               0.0|               0.0|               0.0|
|    max|              5.01|Very Good|    J|   VVS2|              79.0|              95.0|            18823|             10.74|              58.9|              31.8|
+-------+------------------+---------+-----+-------+------------------+------------------+-----------------+------------------+------------------+------------------+

In [175]:
df2.columns

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']

In [176]:
df2.count()

53940

In [177]:
df2.explain()

== Physical Plan ==
InMemoryTableScan [carat#2015, cut#2016, color#2017, clarity#2018, depth#2019, table#2020, price#2021, x#2022, y#2023, z#2024]
   +- InMemoryRelation [carat#2015, cut#2016, color#2017, clarity#2018, depth#2019, table#2020, price#2021, x#2022, y#2023, z#2024], StorageLevel(disk, memory, deserialized, 1 replicas)
         +- *(1) FileScan csv [carat#10,cut#11,color#12,clarity#13,depth#14,table#15,price#16,x#17,y#18,z#19] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/content/diamonds.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<carat:double,cut:string,color:string,clarity:string,depth:double,table:double,price:int,x:...

In [178]:
df2.printSchema()

root
 |-- carat: double (nullable = true)
 |-- cut: string (nullable = true)
 |-- color: string (nullable = true)
 |-- clarity: string (nullable = true)
 |-- depth: double (nullable = true)
 |-- table: double (nullable = true)
 |-- price: integer (nullable = true)
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)
 |-- z: double (nullable = true)

In [0]:
# convert the df to a RDD ! 

rdd = df2.rdd

In [180]:
rdd

MapPartitionsRDD[343] at javaToPython at NativeMethodAccessorImpl.java:0

In [181]:
# convert the spark dataframe to a pandas dataframe:

pandas_df = df2.toPandas()

print(type(pandas_df))

<class 'pandas.core.frame.DataFrame'>

In [182]:
type(df2)

pyspark.sql.dataframe.DataFrame

In [0]:
# update col:  >>> df = df.withColumnRenamed('telePhoneNumber', 'phoneNumber')

In [184]:
# df2.columns

df2.select('cut').show(7)

+---------+
|      cut|
+---------+
|    Ideal|
|  Premium|
|     Good|
|  Premium|
|     Good|
|Very Good|
|Very Good|
+---------+
only showing top 7 rows

In [185]:
df2.show()

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
| 0.26|Very Good|    H|    SI1| 61.9| 55.0|  337|4.07|4.11|2.53|
| 0.22|     Fair|    E|    VS2| 65.1| 61.0|  337|3.87|3.78|2.49|
| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
|  0.3|     Good|    J|    SI1| 64.0| 55.0|  339|4.25|4.28|2.73|
| 0.23|    Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 0.22|  Premium|    F|    SI1| 60.4| 61.0|  342|3.88|3.84|2.33|
| 0.31|    Ideal|    J|    SI2| 62.2| 54.0|  344|4.35|4.37|2.71|
|  0.2|  Premium|    E|    SI2| 60.2| 62.0|  345|3.79|3.75|2.27|
| 0.32|  Premium|    E|     I1| 60.9| 58.0|  345|4.38|4.42|2.68|
|  0.3|    Ideal|    I|    SI2| 62.0| 54.0|  348|4.31|4.34|2.68|
|  0.3|     Good|    J|    SI1| 63.4| 54.0|  351|4.23|4.29| 2.7|
|  0.3|     Good|    J|    SI1| 63.8| 56.0|  351|4.23|4.26|2.71|
|  0.3|Very Good|    J|    SI1| 62.7| 59.0|  351|4.21|4.27|2.66|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [186]:
df2.filter(df2.depth < 50).show()

+-----+-----+-----+-------+-----+-----+-----+----+----+----+
|carat|  cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+-----+-----+-------+-----+-----+-----+----+----+----+
|  1.0| Fair|    G|    SI1| 43.0| 59.0| 3634|6.32|6.27|3.97|
|  1.0| Fair|    G|    VS2| 44.0| 53.0| 4032|6.31|6.24|4.12|
| 1.09|Ideal|    J|    VS2| 43.0| 54.0| 4778|6.53|6.55|4.12|
+-----+-----+-----+-------+-----+-----+-----+----+----+----+

In [187]:
# group by cut and tell me how many diamonds there are by cut....

df2.groupBy('cut').count().show()

+---------+-----+
|      cut|count|
+---------+-----+
|  Premium|13791|
|    Ideal|21551|
|     Good| 4906|
|     Fair| 1610|
|Very Good|12082|
+---------+-----+

In [188]:
df2.groupBy('cut').count().orderBy('cut').show()

+---------+-----+
|      cut|count|
+---------+-----+
|     Fair| 1610|
|     Good| 4906|
|    Ideal|21551|
|  Premium|13791|
|Very Good|12082|
+---------+-----+

In [189]:
df2.groupBy('cut').count().orderBy(df2.cut.desc()).show()  # descending...

+---------+-----+
|      cut|count|
+---------+-----+
|Very Good|12082|
|  Premium|13791|
|    Ideal|21551|
|     Good| 4906|
|     Fair| 1610|
+---------+-----+

In [190]:
help(df2.orderBy)   # you dont need the () method portion...

Help on method sort in module pyspark.sql.dataframe:

sort(*cols, **kwargs) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    :param cols: list of :class:`Column` or column names to sort by.
    :param ascending: boolean or list of boolean (default ``True``).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

    .. versionadded:: 1.3

In [191]:
df2.select('cut', 'clarity').dropDuplicates().show(100)   # all the combinations...

+---------+-------+
|      cut|clarity|
+---------+-------+
|  Premium|    VS2|
|  Premium|     I1|
|Very Good|   VVS2|
|    Ideal|    VS1|
|Very Good|    VS2|
|    Ideal|     I1|
|    Ideal|   VVS2|
|     Good|    VS1|
|Very Good|     I1|
|  Premium|    SI1|
|     Fair|     IF|
|  Premium|    VS1|
|     Fair|    VS1|
|Very Good|    SI1|
|     Good|   VVS2|
|     Good|    VS2|
|     Fair|    VS2|
|  Premium|   VVS2|
|     Fair|     I1|
|     Fair|    SI1|
|Very Good|    VS1|
|  Premium|     IF|
|     Fair|    SI2|
|    Ideal|    SI2|
|Very Good|   VVS1|
|    Ideal|     IF|
|     Good|     IF|
|     Good|    SI2|
|     Fair|   VVS2|
|     Good|     I1|
|     Good|   VVS1|
|    Ideal|    VS2|
|  Premium|    SI2|
|     Fair|   VVS1|
|     Good|    SI1|
|  Premium|   VVS1|
|    Ideal|   VVS1|
|Very Good|    SI2|
|    Ideal|    SI1|
|Very Good|     IF|
+---------+-------+

In [0]:
#test_df_sex = test_df.withColumnRenamed('Gender', 'Sex')

# Background

In [0]:
# # Download datasets directly to your Google Drive "Colab Datasets" folder

# import requests

# # 2007 data

# file_url = "http://stat-computing.org/dataexpo/2009/2007.csv.bz2"

# r = requests.get(file_url, stream = True) 

# with open("/content/gdrive/My Drive/Colab Datasets/2007.csv.bz2", "wb") as file: 
# 	for block in r.iter_content(chunk_size = 1024): 
# 		if block: 
# 			file.write(block)

# # 2008 data

# file_url = "http://stat-computing.org/dataexpo/2009/2008.csv.bz2"

# r = requests.get(file_url, stream = True) 

# with open("/content/gdrive/My Drive/Colab Datasets/2008.csv.bz2", "wb") as file: 
# 	for block in r.iter_content(chunk_size = 1024): 
# 		if block: 
# 			file.write(block)

In [0]:
# from pyspark import SparkContext
# from pyspark.sql import SparkSession
# from pyspark.ml import Pipeline
# from pyspark.ml.classification import RandomForestClassifier
# from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer, VectorAssembler
# from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# from pyspark.sql.functions import isnan, when, count, col

In [195]:
print(type(df_pri))

<class 'pyspark.sql.dataframe.DataFrame'>

In [0]:
#  see, this is not a pandas df, it is a SPARK df...

In [0]:
df = df_pri

In [198]:
df

DataFrame[carat: double, cut: string, color: string, clarity: string, depth: double, table: double, price: int, x: double, y: double, z: double]

In [199]:
df.show()

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
| 0.26|Very Good|    H|    SI1| 61.9| 55.0|  337|4.07|4.11|2.53|
| 0.22|     Fair|    E|    VS2| 65.1| 61.0|  337|3.87|3.78|2.49|
| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
|  0.3|     Good|    J|    SI1| 64.0| 55.0|  339|4.25|4.28|2.73|
| 0.23|    Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 0.22|  Premium|    F|    SI1| 60.4| 61.0|  342|3.88|3.84|2.33|
| 0.31|    Ideal|    J|    SI2| 62.2| 54.0|  344|4.35|4.37|2.71|
|  0.2|  Premium|    E|    SI2| 60.2| 62.0|  345|3.79|3.75|2.27|
| 0.32|  Premium|    E|     I1| 60.9| 58.0|  345|4.38|4.42|2.68|
|  0.3|    Ideal|    I|    SI2| 62.0| 54.0|  348|4.31|4.34|2.68|
|  0.3|     Good|    J|    SI1| 63.4| 54.0|  351|4.23|4.29| 2.7|
|  0.3|     Good|    J|    SI1| 63.8| 56.0|  351|4.23|4.26|2.71|
|  0.3|Very Good|    J|    SI1| 62.7| 59.0|  351|4.21|4.27|2.66|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [200]:
print(f"The shape is {df.count():d} rows by {len(df.columns):d} columns.")

The shape is 53940 rows by 10 columns.

In [201]:
df.columns

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']

In [0]:
# null_counts = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c)for c in df.columns]).toPandas().to_dict(orient='records')
# print(f"We have {sum(null_counts[0].values()):d} null values in this dataset.")

In [203]:
df.select('cut').distinct().rdd.map(lambda r: r[0]).collect()

['Premium', 'Ideal', 'Good', 'Fair', 'Very Good']

In [204]:
df.select('cut').distinct().rdd.collect()

[Row(cut='Premium'),
 Row(cut='Ideal'),
 Row(cut='Good'),
 Row(cut='Fair'),
 Row(cut='Very Good')]

In [205]:
df.select('carat').show()

+-----+
|carat|
+-----+
| 0.23|
| 0.21|
| 0.23|
| 0.29|
| 0.31|
| 0.24|
| 0.24|
| 0.26|
| 0.22|
| 0.23|
|  0.3|
| 0.23|
| 0.22|
| 0.31|
|  0.2|
| 0.32|
|  0.3|
|  0.3|
|  0.3|
|  0.3|
+-----+
only showing top 20 rows

# Now we can officially get started with running examples etc

In [0]:
textFile = spark.read.text("/content/spark-2.4.5-bin-hadoop2.7/README.md")

In [207]:
!ls -l /content/spark-2.4.5-bin-hadoop2.7/examples/src/main/resources






#  G  O  L  D

total 44
-rw-r--r-- 1 1000 1000  130 Feb  2 19:47 employees.json
-rw-r--r-- 1 1000 1000  240 Feb  2 19:47 full_user.avsc
-rw-r--r-- 1 1000 1000 5812 Feb  2 19:47 kv1.txt
-rw-r--r-- 1 1000 1000   49 Feb  2 19:47 people.csv
-rw-r--r-- 1 1000 1000   73 Feb  2 19:47 people.json
-rw-r--r-- 1 1000 1000   32 Feb  2 19:47 people.txt
-rw-r--r-- 1 1000 1000  185 Feb  2 19:47 user.avsc
-rw-r--r-- 1 1000 1000  334 Feb  2 19:47 users.avro
-rw-r--r-- 1 1000 1000  547 Feb  2 19:47 users.orc
-rw-r--r-- 1 1000 1000  615 Feb  2 19:47 users.parquet

In [208]:
textFile

DataFrame[value: string]

In [209]:
textFile.count()

104

In [210]:
textFile.first()

Row(value='# Apache Spark')

In [211]:
textFile.value

Column<b'value'>

In [212]:
textFile.filter(textFile.value.contains("Spark")).count()  # How many lines contain "Spark"?

19

In [213]:
from pyspark.sql.functions import *
textFile.select(size(split(textFile.value, "\s+")).name("numWords")).agg(max(col("numWords"))).collect()

[Row(max(numWords)=16)]

In [0]:
wordCounts = textFile.select(explode(split(textFile.value, "\s+")).alias("word")).groupBy("word").count()

In [215]:
wordCounts.collect()

[Row(word='online', count=1),
 Row(word='graphs', count=1),
 Row(word='["Building', count=1),
 Row(word='documentation', count=3),
 Row(word='command,', count=2),
 Row(word='abbreviated', count=1),
 Row(word='overview', count=1),
 Row(word='rich', count=1),
 Row(word='set', count=2),
 Row(word='-DskipTests', count=1),
 Row(word='name', count=1),
 Row(word='page](http://spark.apache.org/documentation.html).', count=1),
 Row(word='["Specifying', count=1),
 Row(word='stream', count=1),
 Row(word='run:', count=1),
 Row(word='not', count=1),
 Row(word='programs', count=2),
 Row(word='tests', count=2),
 Row(word='./dev/run-tests', count=1),
 Row(word='will', count=1),
 Row(word='[run', count=1),
 Row(word='particular', count=2),
 Row(word='Alternatively,', count=1),
 Row(word='must', count=1),
 Row(word='using', count=3),
 Row(word='you', count=4),
 Row(word='MLlib', count=1),
 Row(word='DataFrames,', count=1),
 Row(word='variable', count=1),
 Row(word='Note', count=1),
 Row(word='core', count=1),
 Row(word='protocols', count=1),
 Row(word='guidance', count=2),
 Row(word='shell:', count=2),
 Row(word='can', count=6),
 Row(word='site,', count=1),
 Row(word='systems.', count=1),
 Row(word='[building', count=1),
 Row(word='configure', count=1),
 Row(word='for', count=12),
 Row(word='README', count=1),
 Row(word='Interactive', count=2),
 Row(word='how', count=3),
 Row(word='[Configuration', count=1),
 Row(word='Hive', count=2),
 Row(word='system', count=1),
 Row(word='provides', count=1),
 Row(word='Hadoop-supported', count=1),
 Row(word='pre-built', count=1),
 Row(word='["Useful', count=1),
 Row(word='directory.', count=1),
 Row(word='Example', count=1),
 Row(word='example', count=3),
 Row(word='Kubernetes', count=1),
 Row(word='one', count=2),
 Row(word='MASTER', count=1),
 Row(word='in', count=5),
 Row(word='library', count=1),
 Row(word='Spark.', count=1),
 Row(word='contains', count=1),
 Row(word='Configuration', count=1),
 Row(word='programming', count=1),
 Row(word='with', count=3),
 Row(word='contributing', count=1),
 Row(word='downloaded', count=1),
 Row(word='1000).count()', count=1),
 Row(word='comes', count=1),
 Row(word='machine', count=1),
 Row(word='Tools"](http://spark.apache.org/developer-tools.html).', count=1),
 Row(word='building', count=2),
 Row(word='params', count=1),
 Row(word='Guide](http://spark.apache.org/docs/latest/configuration.html)', count=1),
 Row(word='given.', count=1),
 Row(word='be', count=2),
 Row(word='same', count=1),
 Row(word='integration', count=1),
 Row(word='Programs', count=1),
 Row(word='locally', count=2),
 Row(word='using:', count=1),
 Row(word='fast', count=1),
 Row(word='[Apache', count=1),
 Row(word='your', count=1),
 Row(word='optimized', count=1),
 Row(word='Developer', count=1),
 Row(word='R,', count=1),
 Row(word='should', count=2),
 Row(word='graph', count=1),
 Row(word='package', count=1),
 Row(word='[project', count=1),
 Row(word='project', count=1),
 Row(word='`examples`', count=2),
 Row(word='resource-managers/kubernetes/integration-tests/README.md', count=1),
 Row(word='versions', count=1),
 Row(word='Spark](#building-spark).', count=1),
 Row(word='general', count=3),
 Row(word='other', count=1),
 Row(word='learning,', count=1),
 Row(word='when', count=1),
 Row(word='submit', count=1),
 Row(word='Apache', count=1),
 Row(word='1000:', count=2),
 Row(word='detailed', count=2),
 Row(word='About', count=1),
 Row(word='is', count=7),
 Row(word='on', count=7),
 Row(word='scala>', count=1),
 Row(word='print', count=1),
 Row(word='use', count=3),
 Row(word='different', count=1),
 Row(word='following', count=2),
 Row(word='SparkPi', count=2),
 Row(word='refer', count=2),
 Row(word='./bin/run-example', count=2),
 Row(word='data', count=1),
 Row(word='Tests', count=1),
 Row(word='Versions', count=1),
 Row(word='Data.', count=1),
 Row(word='processing.', count=1),
 Row(word='its', count=1),
 Row(word='basic', count=1),
 Row(word='latest', count=1),
 Row(word='only', count=1),
 Row(word='<class>', count=1),
 Row(word='have', count=1),
 Row(word='runs.', count=1),
 Row(word='You', count=3),
 Row(word='tips,', count=1),
 Row(word='project.', count=1),
 Row(word='developing', count=1),
 Row(word='YARN,', count=1),
 Row(word='It', count=2),
 Row(word='"local"', count=1),
 Row(word='processing,', count=1),
 Row(word='built', count=1),
 Row(word='Pi', count=1),
 Row(word='thread,', count=1),
 Row(word='A', count=1),
 Row(word='APIs', count=1),
 Row(word='Scala,', count=1),
 Row(word='file', count=1),
 Row(word='computation', count=1),
 Row(word='Once', count=1),
 Row(word='find', count=1),
 Row(word='the', count=23),
 Row(word='To', count=2),
 Row(word='sc.parallelize(1', count=1),
 Row(word='uses', count=1),
 Row(word='Version', count=1),
 Row(word='N', count=1),
 Row(word='programs,', count=1),
 Row(word='"yarn"', count=1),
 Row(word='see', count=3),
 Row(word='./bin/pyspark', count=1),
 Row(word='return', count=2),
 Row(word='computing', count=1),
 Row(word='Java,', count=1),
 Row(word='from', count=1),
 Row(word='Because', count=1),
 Row(word='cluster', count=2),
 Row(word='Streaming', count=1),
 Row(word='More', count=1),
 Row(word='analysis.', count=1),
 Row(word='Maven](http://maven.apache.org/).', count=1),
 Row(word='cluster.', count=1),
 Row(word='Running', count=1),
 Row(word='Please', count=4),
 Row(word='talk', count=1),
 Row(word='distributions.', count=1),
 Row(word='guide,', count=1),
 Row(word='tests](http://spark.apache.org/developer-tools.html#individual-tests).', count=1),
 Row(word='There', count=1),
 Row(word='"local[N]"', count=1),
 Row(word='Try', count=1),
 Row(word='and', count=10),
 Row(word='do', count=2),
 Row(word='Scala', count=2),
 Row(word='class', count=2),
 Row(word='build', count=3),
 Row(word='setup', count=1),
 Row(word='need', count=1),
 Row(word='spark://', count=1),
 Row(word='Hadoop,', count=2),
 Row(word='Thriftserver', count=1),
 Row(word='are', count=1),
 Row(word='requires', count=1),
 Row(word='package.', count=1),
 Row(word='Enabling', count=1),
 Row(word='clean', count=1),
 Row(word='sc.parallelize(range(1000)).count()', count=1),
 Row(word='high-level', count=1),
 Row(word='SQL', count=2),
 Row(word='against', count=1),
 Row(word='of', count=5),
 Row(word='through', count=1),
 Row(word='review', count=1),
 Row(word='package.)', count=1),
 Row(word='Python,', count=2),
 Row(word='easiest', count=1),
 Row(word='no', count=1),
 Row(word='Testing', count=1),
 Row(word='several', count=1),
 Row(word='help', count=1),
 Row(word='The', count=1),
 Row(word='sample', count=1),
 Row(word='MASTER=spark://host:7077', count=1),
 Row(word='Big', count=1),
 Row(word='examples', count=2),
 Row(word='an', count=4),
 Row(word='#', count=1),
 Row(word='Online', count=1),
 Row(word='test,', count=1),
 Row(word='including', count=4),
 Row(word='usage', count=1),
 Row(word='Python', count=2),
 Row(word='at', count=2),
 Row(word='development', count=1),
 Row(word='Spark"](http://spark.apache.org/docs/latest/building-spark.html).', count=1),
 Row(word='IDE,', count=1),
 Row(word='way', count=1),
 Row(word='Contributing', count=1),
 Row(word='get', count=1),
 Row(word='that', count=2),
 Row(word='##', count=9),
 Row(word='For', count=3),
 Row(word='prefer', count=1),
 Row(word='This', count=2),
 Row(word='build/mvn', count=1),
 Row(word='running', count=1),
 Row(word='web', count=1),
 Row(word='run', count=7),
 Row(word='locally.', count=1),
 Row(word='Spark', count=15),
 Row(word='URL,', count=1),
 Row(word='a', count=9),
 Row(word='higher-level', count=1),
 Row(word='tools', count=1),
 Row(word='if', count=4),
 Row(word='available', count=1),
 Row(word='', count=48),
 Row(word='Documentation', count=1),
 Row(word='this', count=1),
 Row(word='(You', count=1),
 Row(word='>>>', count=1),
 Row(word='information', count=1),
 Row(word='info', count=1),
 Row(word='<http://spark.apache.org/>', count=1),
 Row(word='Shell', count=2),
 Row(word='environment', count=1),
 Row(word='built,', count=1),
 Row(word='module,', count=1),
 Row(word='them,', count=1),
 Row(word='`./bin/run-example', count=1),
 Row(word='instance:', count=1),
 Row(word='first', count=1),
 Row(word='[Contribution', count=1),
 Row(word='guide](http://spark.apache.org/contributing.html)', count=1),
 Row(word='documentation,', count=1),
 Row(word='[params]`.', count=1),
 Row(word='mesos://', count=1),
 Row(word='engine', count=1),
 Row(word='GraphX', count=1),
 Row(word='example:', count=1),
 Row(word='HDFS', count=1),
 Row(word='YARN"](http://spark.apache.org/docs/latest/building-spark.html#specifying-the-hadoop-version-and-enabling-yarn)', count=1),
 Row(word='or', count=3),
 Row(word='to', count=17),
 Row(word='Hadoop', count=3),
 Row(word='individual', count=1),
 Row(word='also', count=5),
 Row(word='changed', count=1),
 Row(word='started', count=1),
 Row(word='./bin/spark-shell', count=1),
 Row(word='threads.', count=1),
 Row(word='supports', count=2),
 Row(word='storage', count=1),
 Row(word='version', count=1),
 Row(word='instructions.', count=1),
 Row(word='Building', count=1),
 Row(word='start', count=1),
 Row(word='Many', count=1),
 Row(word='which', count=2),
 Row(word='And', count=1),
 Row(word='distribution', count=1)]

In [0]:
linesWithSpark = textFile.filter(textFile.value.contains("Spark"))

In [217]:
textFile.filter(textFile.value.contains("Spark")).count()  # How many lines contain "Spark"?

19

In [218]:
from pyspark.sql.functions import *
textFile.select(size(split(textFile.value, "\s+")).name("numWords")).agg(max(col("numWords"))).collect()

[Row(max(numWords)=16)]

In [0]:
wordCounts = textFile.select(explode(split(textFile.value, "\s+")).alias("word")).groupBy("word").count()

In [220]:
wordCounts.collect()

[Row(word='online', count=1),
 Row(word='graphs', count=1),
 Row(word='["Building', count=1),
 Row(word='documentation', count=3),
 Row(word='command,', count=2),
 Row(word='abbreviated', count=1),
 Row(word='overview', count=1),
 Row(word='rich', count=1),
 Row(word='set', count=2),
 Row(word='-DskipTests', count=1),
 Row(word='name', count=1),
 Row(word='page](http://spark.apache.org/documentation.html).', count=1),
 Row(word='["Specifying', count=1),
 Row(word='stream', count=1),
 Row(word='run:', count=1),
 Row(word='not', count=1),
 Row(word='programs', count=2),
 Row(word='tests', count=2),
 Row(word='./dev/run-tests', count=1),
 Row(word='will', count=1),
 Row(word='[run', count=1),
 Row(word='particular', count=2),
 Row(word='Alternatively,', count=1),
 Row(word='must', count=1),
 Row(word='using', count=3),
 Row(word='you', count=4),
 Row(word='MLlib', count=1),
 Row(word='DataFrames,', count=1),
 Row(word='variable', count=1),
 Row(word='Note', count=1),
 Row(word='core', count=1),
 Row(word='protocols', count=1),
 Row(word='guidance', count=2),
 Row(word='shell:', count=2),
 Row(word='can', count=6),
 Row(word='site,', count=1),
 Row(word='systems.', count=1),
 Row(word='[building', count=1),
 Row(word='configure', count=1),
 Row(word='for', count=12),
 Row(word='README', count=1),
 Row(word='Interactive', count=2),
 Row(word='how', count=3),
 Row(word='[Configuration', count=1),
 Row(word='Hive', count=2),
 Row(word='system', count=1),
 Row(word='provides', count=1),
 Row(word='Hadoop-supported', count=1),
 Row(word='pre-built', count=1),
 Row(word='["Useful', count=1),
 Row(word='directory.', count=1),
 Row(word='Example', count=1),
 Row(word='example', count=3),
 Row(word='Kubernetes', count=1),
 Row(word='one', count=2),
 Row(word='MASTER', count=1),
 Row(word='in', count=5),
 Row(word='library', count=1),
 Row(word='Spark.', count=1),
 Row(word='contains', count=1),
 Row(word='Configuration', count=1),
 Row(word='programming', count=1),
 Row(word='with', count=3),
 Row(word='contributing', count=1),
 Row(word='downloaded', count=1),
 Row(word='1000).count()', count=1),
 Row(word='comes', count=1),
 Row(word='machine', count=1),
 Row(word='Tools"](http://spark.apache.org/developer-tools.html).', count=1),
 Row(word='building', count=2),
 Row(word='params', count=1),
 Row(word='Guide](http://spark.apache.org/docs/latest/configuration.html)', count=1),
 Row(word='given.', count=1),
 Row(word='be', count=2),
 Row(word='same', count=1),
 Row(word='integration', count=1),
 Row(word='Programs', count=1),
 Row(word='locally', count=2),
 Row(word='using:', count=1),
 Row(word='fast', count=1),
 Row(word='[Apache', count=1),
 Row(word='your', count=1),
 Row(word='optimized', count=1),
 Row(word='Developer', count=1),
 Row(word='R,', count=1),
 Row(word='should', count=2),
 Row(word='graph', count=1),
 Row(word='package', count=1),
 Row(word='[project', count=1),
 Row(word='project', count=1),
 Row(word='`examples`', count=2),
 Row(word='resource-managers/kubernetes/integration-tests/README.md', count=1),
 Row(word='versions', count=1),
 Row(word='Spark](#building-spark).', count=1),
 Row(word='general', count=3),
 Row(word='other', count=1),
 Row(word='learning,', count=1),
 Row(word='when', count=1),
 Row(word='submit', count=1),
 Row(word='Apache', count=1),
 Row(word='1000:', count=2),
 Row(word='detailed', count=2),
 Row(word='About', count=1),
 Row(word='is', count=7),
 Row(word='on', count=7),
 Row(word='scala>', count=1),
 Row(word='print', count=1),
 Row(word='use', count=3),
 Row(word='different', count=1),
 Row(word='following', count=2),
 Row(word='SparkPi', count=2),
 Row(word='refer', count=2),
 Row(word='./bin/run-example', count=2),
 Row(word='data', count=1),
 Row(word='Tests', count=1),
 Row(word='Versions', count=1),
 Row(word='Data.', count=1),
 Row(word='processing.', count=1),
 Row(word='its', count=1),
 Row(word='basic', count=1),
 Row(word='latest', count=1),
 Row(word='only', count=1),
 Row(word='<class>', count=1),
 Row(word='have', count=1),
 Row(word='runs.', count=1),
 Row(word='You', count=3),
 Row(word='tips,', count=1),
 Row(word='project.', count=1),
 Row(word='developing', count=1),
 Row(word='YARN,', count=1),
 Row(word='It', count=2),
 Row(word='"local"', count=1),
 Row(word='processing,', count=1),
 Row(word='built', count=1),
 Row(word='Pi', count=1),
 Row(word='thread,', count=1),
 Row(word='A', count=1),
 Row(word='APIs', count=1),
 Row(word='Scala,', count=1),
 Row(word='file', count=1),
 Row(word='computation', count=1),
 Row(word='Once', count=1),
 Row(word='find', count=1),
 Row(word='the', count=23),
 Row(word='To', count=2),
 Row(word='sc.parallelize(1', count=1),
 Row(word='uses', count=1),
 Row(word='Version', count=1),
 Row(word='N', count=1),
 Row(word='programs,', count=1),
 Row(word='"yarn"', count=1),
 Row(word='see', count=3),
 Row(word='./bin/pyspark', count=1),
 Row(word='return', count=2),
 Row(word='computing', count=1),
 Row(word='Java,', count=1),
 Row(word='from', count=1),
 Row(word='Because', count=1),
 Row(word='cluster', count=2),
 Row(word='Streaming', count=1),
 Row(word='More', count=1),
 Row(word='analysis.', count=1),
 Row(word='Maven](http://maven.apache.org/).', count=1),
 Row(word='cluster.', count=1),
 Row(word='Running', count=1),
 Row(word='Please', count=4),
 Row(word='talk', count=1),
 Row(word='distributions.', count=1),
 Row(word='guide,', count=1),
 Row(word='tests](http://spark.apache.org/developer-tools.html#individual-tests).', count=1),
 Row(word='There', count=1),
 Row(word='"local[N]"', count=1),
 Row(word='Try', count=1),
 Row(word='and', count=10),
 Row(word='do', count=2),
 Row(word='Scala', count=2),
 Row(word='class', count=2),
 Row(word='build', count=3),
 Row(word='setup', count=1),
 Row(word='need', count=1),
 Row(word='spark://', count=1),
 Row(word='Hadoop,', count=2),
 Row(word='Thriftserver', count=1),
 Row(word='are', count=1),
 Row(word='requires', count=1),
 Row(word='package.', count=1),
 Row(word='Enabling', count=1),
 Row(word='clean', count=1),
 Row(word='sc.parallelize(range(1000)).count()', count=1),
 Row(word='high-level', count=1),
 Row(word='SQL', count=2),
 Row(word='against', count=1),
 Row(word='of', count=5),
 Row(word='through', count=1),
 Row(word='review', count=1),
 Row(word='package.)', count=1),
 Row(word='Python,', count=2),
 Row(word='easiest', count=1),
 Row(word='no', count=1),
 Row(word='Testing', count=1),
 Row(word='several', count=1),
 Row(word='help', count=1),
 Row(word='The', count=1),
 Row(word='sample', count=1),
 Row(word='MASTER=spark://host:7077', count=1),
 Row(word='Big', count=1),
 Row(word='examples', count=2),
 Row(word='an', count=4),
 Row(word='#', count=1),
 Row(word='Online', count=1),
 Row(word='test,', count=1),
 Row(word='including', count=4),
 Row(word='usage', count=1),
 Row(word='Python', count=2),
 Row(word='at', count=2),
 Row(word='development', count=1),
 Row(word='Spark"](http://spark.apache.org/docs/latest/building-spark.html).', count=1),
 Row(word='IDE,', count=1),
 Row(word='way', count=1),
 Row(word='Contributing', count=1),
 Row(word='get', count=1),
 Row(word='that', count=2),
 Row(word='##', count=9),
 Row(word='For', count=3),
 Row(word='prefer', count=1),
 Row(word='This', count=2),
 Row(word='build/mvn', count=1),
 Row(word='running', count=1),
 Row(word='web', count=1),
 Row(word='run', count=7),
 Row(word='locally.', count=1),
 Row(word='Spark', count=15),
 Row(word='URL,', count=1),
 Row(word='a', count=9),
 Row(word='higher-level', count=1),
 Row(word='tools', count=1),
 Row(word='if', count=4),
 Row(word='available', count=1),
 Row(word='', count=48),
 Row(word='Documentation', count=1),
 Row(word='this', count=1),
 Row(word='(You', count=1),
 Row(word='>>>', count=1),
 Row(word='information', count=1),
 Row(word='info', count=1),
 Row(word='<http://spark.apache.org/>', count=1),
 Row(word='Shell', count=2),
 Row(word='environment', count=1),
 Row(word='built,', count=1),
 Row(word='module,', count=1),
 Row(word='them,', count=1),
 Row(word='`./bin/run-example', count=1),
 Row(word='instance:', count=1),
 Row(word='first', count=1),
 Row(word='[Contribution', count=1),
 Row(word='guide](http://spark.apache.org/contributing.html)', count=1),
 Row(word='documentation,', count=1),
 Row(word='[params]`.', count=1),
 Row(word='mesos://', count=1),
 Row(word='engine', count=1),
 Row(word='GraphX', count=1),
 Row(word='example:', count=1),
 Row(word='HDFS', count=1),
 Row(word='YARN"](http://spark.apache.org/docs/latest/building-spark.html#specifying-the-hadoop-version-and-enabling-yarn)', count=1),
 Row(word='or', count=3),
 Row(word='to', count=17),
 Row(word='Hadoop', count=3),
 Row(word='individual', count=1),
 Row(word='also', count=5),
 Row(word='changed', count=1),
 Row(word='started', count=1),
 Row(word='./bin/spark-shell', count=1),
 Row(word='threads.', count=1),
 Row(word='supports', count=2),
 Row(word='storage', count=1),
 Row(word='version', count=1),
 Row(word='instructions.', count=1),
 Row(word='Building', count=1),
 Row(word='start', count=1),
 Row(word='Many', count=1),
 Row(word='which', count=2),
 Row(word='And', count=1),
 Row(word='distribution', count=1)]

In [221]:
linesWithSpark.cache()

DataFrame[value: string]

In [222]:
linesWithSpark.count()

19

# Example-X

In [0]:
df = spark.read.json("/content/spark-2.4.5-bin-hadoop2.7/examples/src/main/resources/people.json")

In [224]:
df

DataFrame[age: bigint, name: string]

In [225]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [226]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [227]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [228]:
# Select everybody, but increment the age by 1
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [229]:
# Select people older than 21
df.filter(df['age'] > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [230]:
# Count people by age
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

In [232]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+